/* Element Selectors */

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;

    font-family: Georgia, serif;
    font-size: 40px;
    font-weight: 700;

    color: white;
    background: linear-gradient(to right, pink, palevioletred);
}
h2 {
     text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 1.5;
    
    font-family: Georgia, serif;
    font-size: 28px;
    font-weight: 600;
    
    color: palevioletred;
}
p {
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;

    font-family: "Trebuchet MS", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
table {
    margin: auto;
     text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}

ol, ul {
    width: fit-content;
    margin: auto;
     font-family: "Trebuchet MS", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
img, video {
    opacity: 0.7;
}

/* CLASS SELECTORS */

.nav-link {
    text-align: center;
    letter-spacing: 1px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: palevioletred;
}
.profile-info {
    text-align: center;
    line-height: 1.5;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.form-label {
    text-align: center;
    letter-spacing: 1px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: palevioletred;
}
.contact-form {
    width: 500px;
    margin: auto;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* ID SELECTORS */ 

#main-header {
    background: linear-gradient(to right, deeppink, palevioletred);
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
    font-family: Georgia, serif;
    font-size: 32px;
    font-weight: 700;
}
#contact-section {
    background-color: black;
    text-align: center;
    line-height: 1.5;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* MULTIPLE CLASSES */

.btn {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.primary {
    color: white;
    background: linear-gradient(to right, pink, palevioletred);
}